<h1>Editar película</h1>
<table class="table">
    <thead>
        <tr>
            <th>País</th>
            <th>Año</th>
            <th>Título</th>
            <th>Territorios</th>
            <th>Recaudación</th>
            <th>Territorios Totales</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" ng-model="updatedEarningInterStat.country"/></td>
            <td><input class="form-control" ng-model="updatedEarningInterStat.year"/></td>
            <td>{{ updatedEarningInterStat.title }}</td>
            <td><input class="form-control" ng-model="updatedEarningInterStat.territory"/></td>
            <td><input class="form-control" ng-model="updatedEarningInterStat.earning"/></td>
            <td><input class="form-control" ng-model="updatedEarningInterStat.territoryTotal"/></td>
            <td><button class="btn btn-primary" ng-click="updateEarningInterStat(updatedEarningInterStat.title)"; >Actualizar</button></td>
        </tr>
    </tbody>
</table>