<h1>Edit Films</h1>
        
        <table class="table">
            
            <thead>
                
                <tr>
                    
                    <th>País</th>
                    <th>Año</th>
                    <th>Película</th>
                    <th>Subvención recibida</th>
                    <th>Presupuesto</th>
                    <th>Subveción (%)</th>
                    <th>Acciones</th>
                    
                </tr>
                
                
            </thead>
            <tbody>
                
                <tr>
                     
                    <td><input class="form-control" ng-model="filmToUpdate.country"></input></td>
                    <td><input class="form-control" ng-model="filmToUpdate.year"></input></td>
                    <td>{{ filmToUpdate.film }}</td>
                    <td><input type="number" class="form-control" ng-model="filmToUpdate.subsidyReceibed"></input></td>
                    <td><input type="number" class="form-control" ng-model="filmToUpdate.subsidyBudgetProject"></input></td>
                    <td><input type="number" class="form-control" ng-model="filmToUpdate.subsidyPercentage"></input></td>
                    <td><burrom class="btn btn-danger" ng-click="updateFilm(filmToUpdate.film)">Update</burrom></td>
                    
                </tr>
                
               
               
                
                
            </tbody>
            
        </table>
         